.homepage-a-child,
.homepage-a-inner,
.homepage-a-item,
.rectangle-icon {
  position: absolute;
  top: 2051px;
  left: 518px;
  border-radius: var(--br-21xl);
  width: 645px;
  height: 337px;
}
.homepage-a-inner,
.homepage-a-item,
.rectangle-icon {
  top: 2979px;
  left: 746px;
}
.homepage-a-inner,
.rectangle-icon {
  top: 2511px;
  left: 604px;
}
.rectangle-icon {
  top: 2064px;
  left: 296px;
  width: 409px;
  height: 306px;
}
.polygon-icon {
  position: absolute;
  top: 954.07px;
  left: 845.33px;
  width: 594.67px;
  height: 727.67px;
  opacity: 0.9;
}
.homepage-a-child1,
.homepage-a-child2,
.homepage-a-child3 {
  position: absolute;
  top: 1513.24px;
  left: 0;
  width: 500.11px;
  height: 611.31px;
  opacity: 0.9;
}
.homepage-a-child2,
.homepage-a-child3 {
  top: 3415.24px;
  left: 813.92px;
  width: 626.08px;
}
.homepage-a-child3 {
  top: 4525.24px;
  left: 0;
  width: 540.11px;
}
.frame-child,
.frame-inner,
.frame-item,
.rectangle-div {
  position: absolute;
  top: 178px;
  left: 1201.88px;
  border-radius: var(--br-981xl);
  background: linear-gradient(70.26deg, #ebebff, #4b3687);
  width: 592.71px;
  height: 286.23px;
  transform: rotate(60deg);
  transform-origin: 0 0;
}
.frame-inner,
.frame-item,
.rectangle-div {
  top: 377.63px;
  left: 845.21px;
  width: 328.64px;
  height: 158.71px;
}
.frame-inner,
.rectangle-div {
  top: 146px;
  left: 811.2px;
  width: 268.35px;
  height: 105.31px;
}
.rectangle-div {
  left: 945.2px;
  width: 115.95px;
  height: 45.51px;
}
.frame-icon {
  position: absolute;
  top: 147px;
  left: 784px;
  width: 537px;
  height: 575px;
  overflow: hidden;
  object-fit: cover;
}
.frame-child1,
.frame-child2 {
  position: absolute;
  border-radius: var(--br-981xl);
  transform: rotate(60deg);
  transform-origin: 0 0;
}
.frame-child1 {
  top: 556px;
  left: 753.83px;
  background: linear-gradient(70.26deg, #ebebff, #4b3687);
  width: 150.24px;
  height: 51.9px;
}
.frame-child2 {
  top: 344.57px;
  left: 778.33px;
  background: linear-gradient(70.26deg, #ebebff, #9a8ac9);
  width: 57.21px;
  height: 13.78px;
}
.group-icon {
  position: absolute;
  top: 146px;
  left: 981.81px;
  width: 365.1px;
  height: 576px;
  object-fit: cover;
}
.h1-title-copy-goes,
.p-lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.p-lorem-ipsum-dolor {
  font-size: var(--paragraph-paragraph-sm-size);
  line-height: 150%;
  color: var(--color-gray-200);
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.get-started {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.button {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
}
.actions,
.column {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions {
  flex-direction: row;
  padding: var(--padding-base) 0 0;
  font-size: var(--link-link-sm-size);
  color: var(--white);
}
.column {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.image-icon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.column1 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}
.column1,
.container,
.hero-heading-left {
  display: flex;
  flex-direction: row;
}
.container {
  width: 1200px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.hero-heading-left {
  position: absolute;
  top: 8957.84px;
  left: 3012.89px;
  background-color: var(--white);
  width: 1440px;
  overflow: hidden;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.logo-icon {
  width: 141px;
  height: 36px;
  object-fit: cover;
}
.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about {
  position: relative;
  line-height: 150%;
}
.navbar-link {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.navbar-button {
  background-color: var(--color-black);
  padding: var(--padding-5xs) var(--padding-xl);
  justify-content: center;
  font-size: var(--link-link-sm-size);
  color: var(--white);
}
.navbar-button,
.navbar-content,
.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-menu {
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.navbar-content {
  width: 1200px;
  justify-content: space-between;
}
.navbar-logo-left,
.navbarcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbarcontainer {
  width: 1200px;
  align-items: center;
}
.navbar-logo-left {
  top: 9981.3px;
  left: 3012.89px;
  background-color: var(--white);
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  font-size: var(--font-size-sm);
}
.hero-heading-left1,
.navbar-logo-left,
.rectangle-parent {
  position: absolute;
  width: 1440px;
  overflow: hidden;
}
.hero-heading-left1 {
  top: 9755.35px;
  left: 3012.89px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.rectangle-parent {
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-161xl) var(--br-161xl);
  background: linear-gradient(104.62deg, #f9f9fd, #eaeafb);
  height: 722px;
  font-size: var(--font-size-37xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.pf-logo-icon {
  position: relative;
  width: 126.12px;
  height: 80.61px;
  object-fit: cover;
}
.book-a-demo,
.physicians {
  position: relative;
  line-height: 100%;
}
.book-a-demo {
  line-height: 120%;
  text-transform: uppercase;
}
.buttonregularghost {
  border-radius: var(--br-81xl);
  background-color: transparent;
  border: 2px solid var(--primary);
  padding: 18px 19px;
  justify-content: center;
  font-size: var(--label-label-size);
  color: var(--primary);
}
.buttonregularghost,
.header,
.pf-logo-parent,
.physicians-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.physicians-parent {
  justify-content: flex-start;
  gap: 30px;
}
.header,
.pf-logo-parent {
  width: 1280px;
  justify-content: space-between;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  justify-content: center;
  font-size: var(--link-link-lg-size);
  color: var(--black);
  font-family: var(--paragraph-paragraph-lg);
}
.first {
  text-transform: uppercase;
  color: var(--primary);
}
.patientfirst {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 140%;
  font-weight: 600;
}
.your-healthcare-journey {
  margin: 0;
}
.your-healthcare-journey-container {
  position: relative;
  font-size: var(--headings-h1-size);
  line-height: 110%;
  display: inline-block;
  color: var(--primary);
  width: 502px;
  height: 275px;
  flex-shrink: 0;
}
.patientfirst-parent {
  gap: var(--gap-3xs);
}
.frame-wrapper,
.patientfirst-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-icon1 {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonregularfilled {
  border-radius: var(--br-81xl);
  background: linear-gradient(180deg, #4b3687, #4b3687);
  box-shadow: var(--button-shadow);
  display: flex;
  flex-direction: row;
  padding: 21px 25px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  color: var(--white);
  font-family: var(--paragraph-paragraph-lg);
  text-align: center;
}

.buttonregularfilled:hover{
  cursor: pointer;
  box-shadow: none;
}
.frame-parent {
  position: absolute;
  top: 239px;
  left: 83px;
  width: 589px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  color: var(--black);
}
.ellipse-div,
.frame-child3 {
  position: absolute;
  opacity: 0.2;
}
.ellipse-div {
  bottom: -125px;
  left: calc(50% - 412px);
  border-radius: 50%;
  background-color: var(--white);
  filter: blur(300px);
  width: 823px;
  height: 450px;
}
.frame-child3 {
  top: 10.55px;
  left: 83.44px;
  width: 272.28px;
  height: 269.89px;
  mix-blend-mode: screen;
}
.vector-13-stroke {
  position: absolute;
  top: 79.11px;
  left: 937.19px;
  width: 346.94px;
  height: 343.68px;
  opacity: 0.8;
}
.vector-13-stroke1 {
  position: absolute;
  top: 198.65px;
  left: 14.93px;
  width: 272.28px;
  height: 269.89px;
}
.frame-child4,
.frame-child5,
.vector-13-stroke2 {
  position: absolute;
  width: 136.56px;
  height: 135.36px;
}
.frame-child4 {
  top: 0;
  left: 21.08px;
  opacity: 0.2;
  mix-blend-mode: screen;
}
.frame-child5,
.vector-13-stroke2 {
  top: 116.02px;
  left: 974.96px;
}
.frame-child5 {
  top: 401px;
  left: 464px;
  opacity: 0.2;
  mix-blend-mode: screen;
}
.own-your-healthcare {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.frame-div {
  width: 740px;
}
.frame-container,
.own-your-healthcare-journey-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.own-your-healthcare-journey-parent {
  align-self: stretch;
  gap: var(--gap-xl);
}
.frame-container {
  position: absolute;
  top: calc(50% - 34px);
  left: calc(50% - 491px);
  width: 982px;
}
.ellipse-parent {
  position: absolute;
  top: 0;
  left: 80px;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  width: 1280px;
  height: 483px;
  overflow: hidden;
}
.pf-logo-icon1 {
  position: relative;
  width: 116.12px;
  height: 74.22px;
  object-fit: cover;
}
.terms-of-use {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.frame-child6 {
  align-self: stretch;
  position: relative;
  background-color: var(--grey-dark);
  width: 1px;
}
.terms-of-use-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.patientfirstai-all-rights {
  position: relative;
  font-size: var(--plain-text-plain-text-lg-size);
  line-height: 165%;
  color: var(--grey-dark);
  opacity: 0.7;
}
.frame-parent1,
.pf-logo-group {
  display: flex;
  align-items: flex-end;
}
.frame-parent1 {
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.pf-logo-group {
  width: 1200px;
  flex-direction: row;
  justify-content: space-between;
}
.header-child {
  position: relative;
  width: 684.19px;
  height: 47.55px;
  opacity: 0.9;
}
.frame-group,
.header1 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.header1 {
  top: 483px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-31xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--link-link-sm-size);
  color: var(--black);
  font-family: var(--paragraph-paragraph-lg);
}
.frame-group {
  top: 1295px;
  height: 1521.99px;
}
.frame-child7 {
  align-self: stretch;
  flex: 1;
}
.frame-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.frame-wrapper1 {
  position: absolute;
  top: 364px;
  left: 55px;
  width: 1281px;
  align-items: center;
}
.frame-child9 {
  position: absolute;
  bottom: -217px;
  left: calc(50% - 410.5px);
  border-radius: 50%;
  background-color: var(--white);
  filter: blur(300px);
  width: 823px;
  height: 450px;
  opacity: 0.6;
}
.vector-icon {
  position: relative;
  width: 12px;
  height: 20px;
}
.vector-container,
.vector-wrapper {
  position: absolute;
  top: 228px;
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 9px 14px rgba(75, 54, 135, 0.05);
  width: 71px;
  height: 54px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.vector-wrapper {
  left: -14px;
}
.vector-container {
  right: -88px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.ellipse-icon {
  position: relative;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.icon {
  position: relative;
  width: 21.79px;
  height: 17.76px;
}
.what-our-clients {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.i-have-diabetes {
  position: relative;
  font-size: var(--paragraph-paragraph-lg-size);
  line-height: 180%;
  font-family: var(--paragraph-paragraph-lg);
  color: var(--grey-dark);
  display: inline-block;
  width: 889px;
}
.frame-child11 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-lgi) 0 0 var(--br-lgi);
  background-color: var(--primary);
  width: 6px;
}
.amina-sultan {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.patient {
  position: relative;
  font-size: var(--plain-text-plain-text-lg-size);
  line-height: 165%;
  font-family: var(--paragraph-paragraph-lg);
  color: var(--grey-dark);
}
.amina-sultan-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.rectangle-group {
  flex-direction: row;
  gap: var(--gap-3xs);
  font-size: var(--paragraph-paragraph-sm-size);
}
.ellipse-container,
.frame-parent3,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent3 {
  flex: 1;
  flex-direction: column;
  gap: 36px;
}
.ellipse-container {
  position: absolute;
  top: 80px;
  left: calc(50% - 491.5px);
  width: 983px;
  flex-direction: row;
  gap: 46px;
}
.frame-child12,
.frame-child13 {
  position: relative;
  border-radius: 50%;
  background-color: var(--primary);
  width: 11px;
  height: 11px;
}
.frame-child13 {
  background-color: var(--white);
}
.ellipse-parent1 {
  position: absolute;
  top: 489px;
  left: calc(50% - 26.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ellipse-group {
  position: absolute;
  top: 0;
  left: 69px;
  border-radius: var(--br-21xl);
  background-color: var(--bg-2);
  width: 1277px;
  height: 550px;
  overflow: hidden;
  text-align: left;
  font-size: var(--headings-h3-size);
  color: var(--black);
}
.group-parent {
  position: absolute;
  top: 3917px;
  left: 0;
  width: 1440px;
  height: 2816.99px;
  text-align: center;
  font-size: var(--headings-h1-size);
  color: var(--white);
}
.our-benefits,
.your-private-info {
  align-self: stretch;
  position: relative;
}
.our-benefits {
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: uppercase;
  font-weight: 600;
}
.your-private-info {
  font-size: var(--headings-h2-size);
  line-height: 120%;
  color: var(--black);
}
.our-benefits-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.your-records-are {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-paragraph-lg-size);
  line-height: 140%;
  font-family: var(--paragraph-paragraph-lg);
  color: var(--grey-dark);
}
.frame-parent4 {
  position: absolute;
  top: 4544px;
  left: 305px;
  width: 781px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
  text-align: center;
}
.scale-1-icon {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
}
.scale-1-wrapper {
  position: absolute;
  top: 4780px;
  left: 134px;
  border-radius: var(--br-981xl);
  background-color: var(--primary);
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.the-highest-standards {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-paragraph-sm-size);
  line-height: 165%;
  font-family: var(--paragraph-paragraph-lg);
  color: var(--grey-dark);
}
.hipaa-compliant-parent {
  position: absolute;
  top: 4780px;
  left: 224px;
  width: 483px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--headings-h4-size);
}
.image-14-icon {
  position: relative;
  width: 35.97px;
  height: 35px;
  object-fit: cover;
}
.image-14-wrapper {
  border-radius: var(--br-981xl);
  background-color: var(--primary);
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.end-to-end-encryption-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-parent5,
.image-13-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.frame-parent5 {
  top: 4760px;
  left: 752px;
  width: 633px;
  height: 137px;
  padding: var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--headings-h4-size);
}
.image-13-wrapper {
  top: 4932px;
  left: 134px;
  border-radius: var(--br-981xl);
  background-color: var(--primary);
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
}
.under-your-control-parent {
  position: absolute;
  top: 4932px;
  left: 224px;
  width: 483px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--headings-h4-size);
}
.frame-child15 {
  border-radius: var(--br-981xl);
  background-color: var(--primary);
  width: 70px;
  height: 70px;
}
.frame-parent6 {
  position: absolute;
  top: 4912px;
  left: 752px;
  width: 633px;
  height: 137px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--headings-h4-size);
}
.frame-child16 {
  position: absolute;
  bottom: -182px;
  left: calc(50% - 412px);
  border-radius: 50%;
  background-color: var(--white);
  filter: blur(300px);
  width: 823px;
  height: 450px;
  opacity: 0.2;
}
.image-10,
.image-11-icon {
  position: absolute;
  top: 5px;
  left: 12px;
  width: 68px;
  height: 70px;
}
.image-11-icon {
  top: 7px;
  left: -9px;
  object-fit: cover;
}
.health-check-2 {
  position: relative;
  background-color: var(--white);
  backdrop-filter: blur(4px);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 68px;
  height: 77px;
}
.health-check-2-parent {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.health-check-1-icon {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-12-icon {
  position: absolute;
  top: 0;
  left: 2px;
  width: 73px;
  height: 73px;
  object-fit: cover;
}
.health-check-1 {
  position: relative;
  width: 80px;
  height: 80px;
}
.frame-parent7,
.your-medical-records-now-in-y-wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.frame-parent7 {
  top: 236px;
  left: calc(50% - 605px);
  box-shadow: var(--card-shadow);
  width: 1210px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.your-medical-records-now-in-y-wrapper {
  top: 86px;
  left: calc(50% - 203px);
  flex-direction: column;
  align-items: center;
  font-size: var(--headings-h2-size);
  color: var(--white);
}
.ellipse-parent2 {
  position: absolute;
  top: 1078px;
  left: 80px;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  width: 1280px;
  height: 369px;
  text-align: center;
  font-size: var(--headings-h4-size);
}
.frame-child17 {
  position: relative;
  width: 196.43px;
  height: 49.15px;
}
.group-wrapper {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-11xl);
  align-items: center;
  justify-content: center;
}
.image-6-icon,
.image-9-icon {
  position: relative;
  width: 157.16px;
  height: 61px;
  object-fit: cover;
}
.image-6-icon {
  width: 142px;
  height: 60.8px;
}
.frame-parent8,
.supported-by-parent {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent8 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.supported-by-parent {
  position: absolute;
  top: 815px;
  left: calc(50% - 637px);
  width: 1280px;
  flex-direction: column;
  align-items: center;
  font-size: var(--paragraph-paragraph-sm-size);
  color: var(--color-black);
}
.hero-heading-left2,
.navbar-logo-left1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.navbar-logo-left1 {
  position: absolute;
  top: 9565.79px;
  left: 3012.89px;
  background-color: var(--white);
  width: 1440px;
  padding: 0 var(--padding-5xl);
  font-size: var(--font-size-sm);
}
.hero-heading-left2 {
  padding: var(--padding-45xl) var(--padding-5xl);
  font-size: var(--font-size-37xl);
}
.hero-heading-left2,
.navbar-logo-left2,
.new-page {
  position: absolute;
  top: 9339.84px;
  left: 3012.89px;
  background-color: var(--white);
  width: 1440px;
}
.navbar-logo-left2 {
  top: 9559.09px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child18 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-lgi) 0 0 var(--br-lgi);
  background-color: var(--primary);
  width: 5px;
}
.access-your-paper-based {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  width: 357px;
  flex-shrink: 0;
}
.access-your-paper-based-and-di-wrapper {
  width: 616px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent10,
.frame-parent9,
.rectangle-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent10,
.frame-parent9 {
  position: absolute;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-mini);
  font-size: var(--headings-h4-size);
}
.frame-parent9 {
  top: 2131px;
  left: 721px;
  width: 368px;
  height: 171px;
}
.frame-parent10 {
  top: 2588px;
  left: 756px;
  width: 346px;
}
.screenshot-2023-06-23-at-526,
.weight-child {
  position: absolute;
  top: 2861px;
  left: 461px;
  width: 364px;
  height: 832px;
}
.weight-child {
  top: -8px;
  left: -14px;
  width: 333px;
  height: 318px;
}
.div,
.div1 {
  font-weight: 500;
  width: 38px;
  height: 17px;
}
.div {
  position: absolute;
  top: 254px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div1 {
  top: 20px;
  left: -9px;
}
.div1,
.kg,
.kg1,
.kg2,
.kg3,
.kilograms,
.time {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kilograms {
  top: 271px;
  left: -1px;
  width: 247px;
  height: 20px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.kg,
.kg1,
.kg2,
.kg3,
.time {
  top: 270px;
  left: 59px;
  width: 193px;
  height: 25px;
}
.kg,
.kg1,
.kg2,
.kg3 {
  top: 182px;
  left: 280px;
  color: var(--primary);
  width: 32px;
}
.kg1,
.kg2,
.kg3 {
  top: 50px;
  left: 189px;
}
.kg2,
.kg3 {
  top: 152px;
  left: 136px;
}
.kg3 {
  top: 109px;
  left: 94px;
}
.weight-child1,
.weight-child2,
.weight-inner,
.weight-item {
  position: absolute;
  top: 202px;
  left: 291px;
  border-radius: 50%;
  background-color: var(--primary);
  width: 7px;
  height: 7px;
}
.weight-child1,
.weight-child2,
.weight-inner {
  top: 70px;
  left: 200px;
}
.weight-child1,
.weight-child2 {
  top: 175px;
  left: 152px;
}
.weight-child2 {
  top: 130px;
  left: 105px;
}
.line-div {
  position: absolute;
  top: 49.5px;
  left: 154.5px;
  border-right: 1px dashed var(--primary);
  box-sizing: border-box;
  width: 1px;
  height: 219px;
}
.weight-child3 {
  position: absolute;
  top: 14px;
  left: 121px;
  background-color: var(--primary);
  width: 69px;
  height: 40px;
}
.div2,
.kg4 {
  position: absolute;
  color: var(--white);
  text-align: left;
  display: flex;
  align-items: center;
}
.kg4 {
  top: 27px;
  left: 138px;
  font-size: var(--font-size-sm);
  width: 40px;
  height: 25px;
}
.div2 {
  top: 19px;
  left: 127px;
  width: 38px;
  height: 10px;
}
.weight,
.weight1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 313px;
  height: 309.86px;
  color: var(--color-gray-100);
}
.weight1 {
  top: 362.19px;
  left: 15.39px;
  color: var(--color-dimgray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45.15px;
  height: 25.65px;
}
.group-child {
  position: absolute;
  top: 326.28px;
  left: 18.47px;
  border-radius: 50%;
  background-color: var(--primary);
  width: 39px;
  height: 38.99px;
}
.frame-icon2 {
  position: absolute;
  top: 12.31px;
  left: calc(50% - 8.21px);
  width: 17.45px;
  height: 17.44px;
  overflow: hidden;
}
.blood-pressure {
  position: absolute;
  top: 42.07px;
  left: 0;
  line-height: 110.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45.15px;
  height: 25.65px;
}
.group-item {
  position: absolute;
  top: 0;
  left: 4.1px;
  border-radius: 50%;
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 39px;
  height: 38.99px;
}
.bpm,
.group-div {
  position: absolute;
  width: 45.15px;
}
.group-div {
  top: 326.28px;
  left: calc(50% - 81.59px);
  height: 67.72px;
}
.bpm {
  top: 35.91px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25.65px;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 3.08px;
  border-radius: 50%;
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 39px;
  height: 38.99px;
}
.vector-icon1 {
  position: absolute;
  top: 12.31px;
  left: calc(50% - 9.24px);
  width: 17.45px;
  height: 16.42px;
}
.bpm-parent {
  position: absolute;
  top: 326.28px;
  left: 133.41px;
  width: 45.15px;
  height: 61.56px;
}
.group-child2 {
  position: absolute;
  top: 10.26px;
  left: calc(50% - 6.16px);
  width: 12.7px;
  height: 17.81px;
}
.blood-sugar-parent,
.group-child4,
.uric-acid-parent {
  position: absolute;
  top: 326.28px;
  left: 193.96px;
  width: 45.15px;
  height: 67.72px;
}
.group-child4,
.uric-acid-parent {
  left: 254.5px;
  height: 61.56px;
}
.group-child4 {
  top: 316.34px;
  left: 29.41px;
  width: 17.13px;
  height: 9.39px;
}
.frame-icon3 {
  position: absolute;
  top: 337.57px;
  left: calc(50% - 126.74px);
  width: 16.42px;
  height: 15.53px;
  overflow: hidden;
}
.medical-specialty-knee-1-trac {
  position: absolute;
  height: 4.95%;
  width: 6.23%;
  top: 85.42%;
  right: 8.2%;
  bottom: 9.64%;
  left: 85.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.weight-parent {
  position: absolute;
  top: 2509px;
  left: 369px;
  width: 313px;
  height: 394px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-silver);
  font-family: var(--paragraph-paragraph-lg);
}
.frame-parent11 {
  position: absolute;
  top: 3071px;
  left: 947px;
  width: 437px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-mini);
  font-size: var(--headings-h4-size);
}
.diastolic-pressure,
.height,
.systolic-pressure,
.weight2 {
  position: absolute;
  top: 2220px;
  left: calc(50% - 364px);
  font-weight: 500;
  font-family: var(--paragraph-paragraph-lg);
  color: var(--color-black);
  display: inline-block;
  width: 168px;
  height: 26px;
}
.diastolic-pressure,
.systolic-pressure,
.weight2 {
  left: calc(50% - 192px);
}
.diastolic-pressure,
.systolic-pressure {
  top: 2286px;
  left: calc(50% - 364px);
}
.diastolic-pressure {
  left: calc(50% - 192px);
}
.cm,
.kg5,
.line-icon,
.mmhg {
  position: absolute;
  top: 2361.5px;
  left: calc(50% - 390px);
  width: 360px;
  height: 1px;
}
.cm,
.kg5,
.mmhg {
  top: 2246px;
  left: calc(50% - 364px);
  font-family: var(--paragraph-paragraph-lg);
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 54px;
  height: 26px;
}
.kg5,
.mmhg {
  left: calc(50% - 192px);
  width: 57px;
}
.mmhg {
  top: 2312px;
  left: calc(50% - 365px);
  width: 90px;
}
.group-child5,
.mmhg1 {
  position: absolute;
  width: 91px;
}
.mmhg1 {
  top: 2312px;
  left: calc(50% - 192px);
  font-family: var(--paragraph-paragraph-lg);
  color: var(--color-dimgray-100);
  display: inline-block;
  height: 26px;
}
.group-child5 {
  top: 3px;
  left: calc(50% - 158px);
  height: 91px;
  object-fit: cover;
}
.name-mariam-sheikh-container {
  position: absolute;
  top: 0;
  left: calc(50% - 51px);
  display: inline-block;
  width: 147px;
  height: 26px;
}
.date-jul-13-container,
.physician-dr-naveed-container,
.visit-reason-physical-container {
  position: absolute;
  top: 23px;
  left: calc(50% - 51px);
  display: inline-block;
  width: 147px;
  height: 26px;
}
.physician-dr-naveed-container,
.visit-reason-physical-container {
  top: 46px;
  width: 209px;
}
.physician-dr-naveed-container {
  top: 70px;
}
.group-container {
  position: absolute;
  top: 2089px;
  left: calc(50% - 370px);
  width: 316px;
  height: 96px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--paragraph-paragraph-lg);
}
.header2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-31xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.group-child6 {
  position: absolute;
  top: -12px;
  left: 80px;
  width: 556.5px;
  height: 1578.5px;
}
.header-parent {
  position: absolute;
  bottom: -678.22px;
  left: 20px;
  width: 1440px;
  height: 4452.22px;
  font-size: var(--link-link-sm-size);
  color: var(--black);
  font-family: var(--paragraph-paragraph-lg);
}
.homepage-a-child4 {
  position: absolute;
  top: 3139.5px;
  left: 162.5px;
  width: 46.5px;
  height: 60.6px;
}
.homepage-a-child5 {
  position: absolute;
  top: 2171px;
  left: 151.64px;
  width: 47.36px;
  height: 57px;
}
.homepage-a-child6,
.image-15-icon {
  position: absolute;
  top: 2654.5px;
  left: 159.5px;
  width: 57.5px;
  height: 59.5px;
}
.image-15-icon {
  top: 4955px;
  left: 801px;
  width: 35px;
  height: 29px;
  object-fit: cover;
}
.access-a-complete,
.how-it-works,
.keep-everyone-in {
  position: absolute;
  left: 123px;
  display: inline-block;
  width: 744px;
}
.how-it-works {
  top: 1701px;
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: uppercase;
  font-weight: 600;
}
.access-a-complete,
.keep-everyone-in {
  top: 1738px;
  font-size: var(--headings-h2-size);
  line-height: 120%;
}
.keep-everyone-in {
  top: 3446px;
  left: 226px;
  width: 412px;
  height: 103px;
}
.patient-firstai-allows,
.securely-share-your {
  position: absolute;
  top: 1859px;
  left: 123px;
  font-size: var(--paragraph-paragraph-lg-size);
  line-height: 140%;
  font-family: var(--paragraph-paragraph-lg);
  color: var(--grey-dark);
  display: inline-block;
  width: 1062px;
  height: 58px;
}
.securely-share-your {
  top: 3576px;
  left: 214px;
  width: 468px;
  height: 62px;
}
.homepage-a-child7 {
  position: absolute;
  top: 2977px;
  left: 486px;
  border-radius: var(--br-21xl);
  width: 412px;
  height: 337px;
}
.hi-mariam-thank-container {
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  height: 147px;
}
.hi-mariam-thank-you-for-visit-wrapper {
  align-self: stretch;
  border-radius: var(--br-11xl) var(--br-11xl) 0 var(--br-11xl);
  background-color: var(--primary-shade-dark);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.am {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.am-wrapper,
.frame-parent15 {
  display: flex;
  justify-content: flex-start;
}
.am-wrapper {
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-8xs);
  align-items: flex-start;
  font-size: var(--font-size-6xs);
  color: var(--secondary-main);
}
.frame-parent15 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.pf-logo-icon3 {
  position: relative;
  width: 54px;
  height: 37px;
  object-fit: cover;
}
.frame-parent14 {
  width: 357px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.frame-child22 {
  position: relative;
  width: 47px;
  height: 51px;
  object-fit: cover;
}
.yes-i-would {
  flex: 1;
  position: relative;
  text-transform: capitalize;
}
.yes-i-would-like-it-delivered-wrapper {
  align-self: stretch;
  border-radius: var(--br-11xl) var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--primary-shade-light);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.frame-parent16 {
  width: 288px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child23 {
  position: relative;
  width: 50px;
  height: 50px;
}
.frame-parent13 {
  position: absolute;
  top: 3015px;
  left: 529px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--link-link-sm-size);
  color: var(--sami-white);
  font-family: var(--font-sora);
}
.f-263593710-cfolwziiuvcoukdzjo-icon {
  position: absolute;
  top: 3498px;
  left: 692px;
  width: 549px;
  height: 331px;
  object-fit: cover;
}
.group-child7,
.homepage-a-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 434px;
  height: 171px;
}
.homepage-a-inner1 {
  top: 3660px;
  left: -98px;
}
.homepage-a {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 5912px;
  overflow: hidden;
  text-align: left;
  font-size: var(--label-label-size);
  color: var(--primary);
  font-family: var(--headings-h2);
}
